{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <span class="badge bg-primary mb-2">
                {{ event.category.name|default:"General" }}
            </span>
            <h1>{{ event.name }}</h1>
            <hr>
            <p class="lead">{{ event.description }}</p>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Event Details</h5>
                    <ul class="list-unstyled">
                        <li>
                            <strong>Mulai:</strong> 
                            {{ event.start_datetime|date:"d M Y, H:i" }}
                        </li>
                        <li>
                            <strong>Selesai:</strong> 
                            {{ event.end_datetime|date:"d M Y, H:i" }}
                        </li>
                        <li>
                            <strong>Biaya:</strong> 
                            {% if event.registration_fee > 0 %}
                                Rp {{ event.registration_fee|floatformat:0 }}
                            {% else %}
                                Gratis
                            {% endif %}
                        </li>
                    </ul>

                    <div id="rsvp-button-container">
                        {% include "events/partials/_rsvp_button_container.html" %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}