{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}The Rink{% endblock %}</title>

    <!-- Link CSS global -->
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
    <script src="https://cdn.tailwindcss.com">
    </script>
</head>
<form style="display:none;">
  {% csrf_token %}
</form>

<body>
    {% block content %} 

    {% endblock content %}

    {% include 'toast.html' %}
    {% include 'modal.html' %}
     <!-- Navbar -->

    <!-- Main content -->
    <main>
        {% block content %}
        <!-- Konten spesifik app bakal muncul di sini -->
        {% endblock %}
    </main>
    
    <!-- JS global -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
