{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}The Rink{% endblock %}</title>

    <!-- Link CSS global -->
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <script src="https://cdn.tailwindcss.com">
    </script>
</head>
<form style="display:none;">
  {% csrf_token %}
</form>

<body>
    {% block content %} 

    {% endblock content %}

    {% include 'toast.html' %}
    {% include 'modal.html' %}
</body>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 The Rink. All rights reserved.</p>
    </footer>
</html>